[submodule "src-tauri/vendor/grindr-google-oauth-webextension"]
	path = src-tauri/vendor/grindr-google-oauth-webextension
	url = https://git.opengrind.org/open-grind/grindr-google-oauth-webextension.git
