pkgbase = open-grind-bin
	pkgdesc = Unofficial FLOSS Grindr client
	pkgver = 0.1.0beta.5
	pkgrel = 1
	url = https://opengrind.org
	arch = x86_64
	arch = aarch64
	license = MIT
	makedepends = minisign
	depends = cairo
	depends = dbus
	depends = gdk-pixbuf2
	depends = glib2
	depends = glibc
	depends = gtk3
	depends = hicolor-icon-theme
	depends = libgcc
	depends = libsoup3
	depends = pango
	depends = webkit2gtk-4.1
	optdepends = gst-plugins-good: audio and video playback in chat and albums
	optdepends = gst-libav: additional H.264/AAC media decoding
	optdepends = xdg-utils: opening links and files in external applications
	provides = open-grind=0.1.0beta.5
	conflicts = open-grind
	options = !strip
	source = open-grind-bin-0.1.0beta.5-LICENSE::https://git.opengrind.org/open-grind/open-grind/raw/tag/v0.1.0-beta.5/LICENSE
	sha256sums = 18b347191b86bde3646ab8c21910f01fda8d3d2caca5ebc8fe402a62f3425f5e
	source_x86_64 = open-grind-bin-0.1.0beta.5-x86_64.deb::https://git.opengrind.org/open-grind/open-grind/releases/download/v0.1.0-beta.5/open-grind-v0.1.0-beta.5-linux-x86_64.deb
	source_x86_64 = open-grind-bin-0.1.0beta.5-x86_64.deb.minisig::https://git.opengrind.org/open-grind/open-grind/releases/download/v0.1.0-beta.5/open-grind-v0.1.0-beta.5-linux-x86_64.deb.minisig
	sha256sums_x86_64 = 8b742db475dea6a35165903feded0a71a5ebad1a64c0a345c8ee1215f1cb16b2
	sha256sums_x86_64 = b96bb14d6c2057b6d4e250588d88d53c13872b8836604d9616cf80c01c7ebb4b
	source_aarch64 = open-grind-bin-0.1.0beta.5-aarch64.deb::https://git.opengrind.org/open-grind/open-grind/releases/download/v0.1.0-beta.5/open-grind-v0.1.0-beta.5-linux-arm64.deb
	source_aarch64 = open-grind-bin-0.1.0beta.5-aarch64.deb.minisig::https://git.opengrind.org/open-grind/open-grind/releases/download/v0.1.0-beta.5/open-grind-v0.1.0-beta.5-linux-arm64.deb.minisig
	sha256sums_aarch64 = f7424e7f027d4ece2c50d1730b9d593cc03c8a9a0cb4b8473a7023ecf2bc110a
	sha256sums_aarch64 = 12eb846fe5a10cbfda2ae3bb07f54d3c584b162a35bc5e8a3f7e2cff944394b6

pkgname = open-grind-bin
