:root {
	--vp-c-brand-1: #926e04;
	--vp-c-brand-2: #926e04;
	--vp-home-hero-name-color: #b49000;
	--vp-button-brand-bg: #ffcc01;
	--vp-button-brand-hover-bg: #fac800;
	--vp-button-brand-active-bg: #f4c300;
	--vp-button-brand-hover-text: #000000;
	--vp-button-brand-active-text: #000000;
	--vp-button-brand-text: #000000;
}
:root.dark {
	--vp-c-brand-1: #ffcc01;
	--vp-c-brand-2: #ffe434;
	--vp-home-hero-name-color: #ffcc01;
	--vp-button-brand-hover-bg: #ffd500;
	--vp-button-brand-active-bg: #ffe433;
}


@media (min-width: 600px) {
	.hero-screenshots-2x3 {
		display: none;
	}
}

.hero-screenshots-3x2 {
	display: none;
}

@media (min-width: 600px) and (not (min-width: 1024px)) {
	.hero-screenshots-3x2 {
		display: block;
	}
}

.hero-screenshots-1x6 {
	display: none;
}

@media (min-width: 1024px) {
	.hero-screenshots-1x6 {
		display: block;
	}
}

img.inline {
	margin: 0;
	display: inline-block;
	vertical-align: middle;
	translate: 0 calc((1ex - 1cap) / 2);
}

.VPFeatures .item .VPFeature {
	border-radius: 19px;
}

.vp-doc a.VPButton {
	text-decoration: none;
}

.vpbuttons-row {
	display: flex;
	flex-wrap: wrap;
	gap: 12px;
}
